<footer class="end-foot">
    <p>&#169 2022 Jason Osorio. All Rights Reserved.</p>
    <p>Logo created by <a href="https://ko-fi.com/stardustco" target="_blank" rel="noopener noreferrer">StardustCo</a>.
    </p>
</footer>
<script src="/scripts/navbar.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>