<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/stylesheets/allPageCss/navbar.css">
    <link rel="stylesheet" href="/stylesheets/aboutMePage.css">
    <link rel="stylesheet" href="/stylesheets/allPageCss/footer.css">
</head>

<body>

    <%- include('./partials/navbar.ejs') %>
        <main>
            <div class="main-about">
                <div class="container-for-text">
                    <div class="myself">
                        <img class="selfie-image" src="../images/removed_better.png" alt="Image of Myself">
                    </div>

                    <div class="about-myself">
                        <h1 class="who-am">Who Am I?</h1>
                        <p class="paragraph">I am a senior at Stony Brook University. Graduating in 2023 with a
                            Bachelors in
                            Computer Science a year early. I am very passionate about full stack development with
                            knowledge in React
                            and
                            Bootstrap
                            for frameworks and libraries respectively with MongoDB and Node.js to connect it all
                            together. If it hasn't been obvious enough I love
                            flowers,
                            more specifically roses, and scenic views.</p>
                    </div>
                </div>

            </div>
        </main>
        <%- include('./partials/footer.ejs') %>
            <script src="/scripts/aboutMePage.js"></script>
</body>

</html>