<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/stylesheets/allPageCss/navbar.css">
    <link rel="stylesheet" href="/stylesheets/landingPage.css">
    <link rel="stylesheet" href="/stylesheets/allPageCss/footer.css">
</head>

<body>
    <%- include('./partials/navbar.ejs') %>
        <main>
            <div class="hero-image">
                <div class="hero-text">
                    <h1 class="intro">Hi, I'm</h1>
                    <h1 class="title">Jason Osorio Marin</h1>
                    <h5>A full stack engineer who loves creating beautiful front end with an organized back end</h5>
                </div>
                <div class="hero-buttons">
                    <form action="https://drive.google.com/file/d/1dCFZZ4mJk2BDgoL6khqkRD3kontgUovk/view?usp=sharing"
                        method="get" target="_blank">
                        <button class="resume">Resume</button>
                    </form>
                    <form action="/contact" method="get">
                        <button class="contact">Contact Me</button>
                    </form>
                </div>
            </div>
            <div class="projects">
                <div class="title-for-project">
                    <h2>Recent Projects</h2>
                    <div class="all-arrows">
                        <p><i class="arrow"></i></p>
                        <p><i class="arrow"></i></p>
                        <p><i class="arrow"></i></p>
                    </div>
                </div>
                <div class="all-projects">
                    <div class="card yelpcamp">
                        <div class="yelp-pic"></div>
                        <div class="card-body">
                            <h5 class="card-title">YelpCamp</h5>
                            <p class="card-text">A full stack project utilizing HTML, Javascript, CSS, Bootstrap, and
                                MongoDB. Allows registered users to upload and rate campgrounds as well as comment on
                                other
                                users upload.</p>
                            <div class="card-buttons">
                                <form action="https://github.com/Jmarin123/YelpCamp" method="get" target="_blank">
                                    <button class="card-reference sourceCode">Source Code</button>
                                </form>
                                <form action="https://desolate-hamlet-17323.herokuapp.com/" method="get"
                                    target="_blank">
                                    <button class="card-reference live-test">Live Test</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card enigma">
                        <div class="enigma-pic"></div>
                        <div class="card-body">
                            <h5 class="card-title">Enigma Machine</h5>
                            <p class="card-text">A digital version of the mid-20th century encryption machine. Created
                                in
                                glitch using Javscript as project for Google CSSI.</p>
                            <div class="card-buttons enigma-button">
                                <form action="https://github.com/Jmarin123/Enigma-Machine" method="get" target="_blank">
                                    <button class="card-reference sourceCode">Source Code</button>
                                </form>
                                <form action="https://enigma-encrypt.glitch.me" method="get" target="_blank">
                                    <button class="card-reference live-test">Live Test</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card musicAPI">
                        <div class="music-pic"></div>
                        <div class="card-body">
                            <h5 class="card-title">Music API</h5>
                            <p class="card-text">Using spotify API allowed users to create a playlist of music.</p>
                            <div class="card-buttons">
                                <form action="https://github.com/Jmarin123/Enigma-Machine" method="get" target="_blank">
                                    <button class="card-reference sourceCode">Source Code</button>
                                </form>
                                <form action="https://enigma-encrypt.glitch.me" method="get" target="_blank">
                                    <button class="card-reference live-test">Live Test</button>
                                </form>
                            </div>
                        </div>

                    </div>



                </div>
            </div>
        </main>


        <%- include('./partials/footer.ejs') %>

</body>

</html>